<div class="menu"
  [class.active]="isMenuOpen">
  <span>Home</span>
  <span>Refresh</span>
</div>

<div class="menu-button">
  <fa-icon [icon]="faBars" (click)="toggleMenu()"></fa-icon>
</div>

<div class="board-container">
  <div class="board-title-bar">
    <span>Board: {{rowCount + ' x ' + rowCount}}</span>
    <div class="lives"
      [class.lost]="lifeLost">
      <span>Lives: {{lives}}</span>
    </div>
  </div>
  <div #bigContainer 
    class="big-container"
    [style.grid]="'1fr ' + gridSize + 'px 1fr / 1fr ' + gridSize + 'px 1fr'">
    <div class="col-headers header-area">
      <div *ngFor="let colKey of cols.keys()" 
        class="col-header"
        [style.width.px]="gridBoxSize">
        <span *ngFor="let headerData of cols.get(colKey)" 
          class="header-box"
          [style.opacity]="headerData?.found ? '0.2' : '1'">{{headerData?.count}}</span>
      </div>
    </div>
    <div class="row-headers header-area">
      <div *ngFor="let rowKey of rows.keys()" 
        class="row-header"
        [style.height.px]="gridBoxSize">
        <span *ngFor="let headerData of rows.get(rowKey)" 
          class="header-box"
          [style.opacity]="headerData?.found ? '0.2' : '1'">{{headerData?.count}}</span>
      </div>
    </div>
    <div class="grid"
      [style.grid]="'repeat(' + rowCount + ', ' + gridBoxSize + 'px) / repeat(' + colCount + ', ' + gridBoxSize + 'px)'">
      <ng-container *ngFor="let row of userGrid; index as y">
        <div *ngFor="let val of row; index as x" 
          class="grid-box"
          [ngClass]="['row-' + y, 'col-' + x]"
          [class.grid-box-hover]="val === 0"
          [class.bg-emerald-500]="val === 1"
          [class.bg-white]="val === 0"
          [class.bg-red-500]="val === -1"
          [style.height.px]="gridBoxSize"
          [style.width.px]="gridBoxSize"
          (mousedown)="onGridPointClick($event, x, y)"
          (mouseover)="onGridPointHover($event, x, y)"></div>
      </ng-container>
    </div>
  </div>
</div>

<!-- <ng-container *ngIf="gameComplete">
  <div class="modal-container">
    <div class="modal">
      <button>View Board</button>
      <button>Share</button>
      <button>Back to Main</button>
      <button>Back to Game Modes</button>
    </div>
  </div>
</ng-container> -->