<div class="h-full flex justify-center bg-gradient-to-r from-cyan-500 to-blue-500 bg-opacity-10">
  <div class="flex flex-col items-center mt-60 gap-8">
    <span class="text-5xl font-semibold mb-5">Welcome to Hanjie!</span>
    <ng-container *ngIf="state === 'initial'">
      <button class="menu-btn text-xl font-medium w-48" (click)="onPlay()">Play</button>
      <button class="menu-btn text-xl font-medium w-48" (click)="onLogin()">Login</button>
      <button class="menu-btn text-xl font-medium w-48" (click)="onSettings()">Settings</button>
    </ng-container>
    <ng-container *ngIf="state === 'play'">
      <button class="menu-btn text-xl font-medium w-48" (click)="startEasyGame()">Easy</button>
      <button class="menu-btn text-xl font-medium w-48" (click)="startMediumGame()">Medium</button>
      <button class="menu-btn text-xl font-medium w-48" (click)="startHardGame()">Hard</button>
      <button class="menu-btn text-xl font-medium w-48" (click)="goToState('initial')">Back</button>
    </ng-container>
  </div>
</div>

<!-- <ng-container *ngIf="!generateBoard">
  <button (click)="setEasySettings()">Easy</button>
  <button (click)="setMediumSettings()">Medium</button>
  <button (click)="setHardSettings()">Hard</button>
  <button (click)="setExpertSettings()">Expert</button>
  <button (click)="setInsaneSettings()">Insane</button>
</ng-container>

<ng-container *ngIf="generateBoard">
  <app-board [rowCount]="rows"
    [colCount]="cols"
    [fillPoints]="pointsFilled"
    [desiredPoints]="desiredPoints"
    (gameCompleted)="gameCompleted()"></app-board>
</ng-container> -->